{% extends 'base.html' %}

{% block content %}
<h3 class="mb-4 fw-semibold">Productos</h3>

<div class="row g-4">
    {% for p in productos %}
    <div class="col-md-3">
        <div class="glass p-4 h-100 text-center">

            <h6 class="mb-2">{{ p.nombre }}</h6>

            <div class="price mb-3">$ {{ p.precio }}</div>

            <a href="/adicionar/{{ p.id }}"
               class="btn btn-success btn-modern w-100">
               Agregar
            </a>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}